<a-scene stats>
  <a-entity mb-camera position="25 10 0">
    <a-camera></a-camera>
  </a-entity>
  <a-box mb-camera rotation="0 0 0" color="#4CC3D9" height="0.25" width="0.5" depth="0.25">></a-box>
  <a-box mb-keyboard rotation="0 0 0" color="#888888" height="0.2" width="4.05" depth="1" canvas-updater
    material="src:#canvas"></a-box>
  <!-- <a-box mb-marker="id:200" rotation="0 0 0" color="#FF0000" height="0.05"></a-box>
  <a-box mb-marker="id:207" rotation="0 0 0" color="#FF0000" height="0.05"></a-box>
  <a-box mb-marker="id:210" rotation="0 0 0" color="#FF0000" height="0.05"></a-box> -->
  <a-plane canvas-updater position="0 0 -8" rotation="0 0 0" width="16" height="9" material="src:#outCanvas"
    draw-canvas="outCanvas">
  </a-plane>
  <a-plane canvas-updater position="16 0 -8" rotation="0 0 0" width="16" height="9" material="src:#binaryCanvas"
    draw-canvas="binaryCanvas">
  </a-plane>
</a-scene> 


<div style="margin: 10px;"><strong>-= Augmented Reality Marker Detector =-</strong></div>
<video id="video" controls muted autoplay="true" width="1280" height="720" style="display:block;">
  <!-- <source src="assets/video_test.MOV" type="video/mp4" /> -->
</video>
<canvas id="canvas" style="width:1280px; height:720px;"></canvas>
<canvas id="outCanvas" style="width:1280px; height:720px;"></canvas>
<canvas id="binaryCanvas" style="width:1280px; height:720px;"></canvas>
